/*-------------------顶部---------------------------*/
#topbox{
	width: 100%;
}
#headerbox{
	width: 100%;
	height: 56px;
	background: #25292e;
}
#header{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#header h1{
	width: 96px;
	height: 38px;
	margin-top: 10px;
	float:left;
	background: url(../img/icon.png) no-repeat ;
}
.rtbox{
	width: 270px;
	height: 56px;
	float: right;
	font-size: 12px;
}
.rtbox p a{
	line-height: 56px;
	color: #ccc;
	display: block;
	float: left;
}
#login a{
	padding: 0 16px 0 8px;
}
.rtbox ul{
	float: right;
}
.rtbox ul li{
	float:left;
	line-height: 56px;
	background: url(../img/bg1.png) no-repeat center left;
}
.rtbox ul li a{
	color: #666;
	padding: 0 15px;
}
.rtbox ul li a:hover{
	color: #ccc;
}
.lastop{
	margin-right: -14px;
}
/*-----------------------nav导航----------------------------------------*/
#navbox{
	width: 100%;height: auto;
}
#nav{
	width: 1000px;
	height: 46px;
	margin: 0 auto;
	border-bottom:4px solid #ededed;
	background: white;
	z-index: 9;
}
.navigation{
	width: 76%;
	line-height: 46px;
	font-size: 14px;
	float: left;
}
.navigation li a{
	float: left;
	color: black;
	display: block;
	padding:0 50px;
	text-align: center;
	margin-right: 36px;
}
.navigation li a:hover{
	border-bottom: 4px solid black;
}
.navigation .firstl a{
	margin-right: 0px;
	padding: 0 70px 0 0;
}

/*--------------------------搜索----------------------------*/
#search{
	width: 24%;
	height: 50px;
	float: right;
	line-height: 45px;
	position: relative;
	overflow: hidden;
	display: none;
}
#sousuo{/*点击的效果*/
	width: 236px;
	height: 46px;
	outline: none;
	position: absolute;
	top:0;
	border: none;
	border-bottom: 4px solid black;
}
#search_icon{
	width: 46px;
	height: 46px;
	float: right;
	background: url(../img/icon.png) no-repeat  -166px -142px;
}

/*----------------------------商品列表--------------------*/
#nav_hid{
	width: 1000px;
	height: 400px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
	top: 106px;
	background: rgba(0,0,0,0.6);
	display: none;
}
#nav_hid .snav{
	width: 90%;
	display: flex;
	justify-content: space-around;
	padding: 30px 0 54px 0;
	margin: 0 auto;
}
#nav_hid .snav div{
	width: 80px;
}
#nav_hid .snav p{
	color: white;
	font-size: 15px;
	margin: 0 0 10px;
}
#nav_hid .snav ul{
	margin-top: 0;
	margin-bottom: 10px;
}
#nav_hid .snav a{
	color: #bbb;
	font-size: 12px;
}
#nav_hid .snav a:hover{
	color: white;
	font-size: 14px;
}
#nav_hid .snav .secondList{
	margin-left: 5px;
	padding-left: 8px;
	border-left: 1px solid #bbb;
}
#nav_hid .firstList{
	color: #eee;
}


/*-----------------------------图标more-----------------------------*/
#more a{
	clear: both;
	display: block;
	width: 148px;
	height: 50px;
	margin: 90px auto 0;
	background: url(./../img/icon.png) no-repeat scroll 0px -640px;
}
#more a:hover{
	background: url(./../img/icon.png) no-repeat scroll 0px -688px;
}

/*----------------------------底部logo介绍------------------------------*/
#serviceBox{
	width: 100%;
	clear: both;
	text-align: center;
}
#serviceBox .service{
	width: 100%;
	padding: 51px 0 78px;
	border-top: 1px solid #ededed;
	background: #fbfdfe;
	margin: 90px auto 0;
}
#serviceBox .service .shop{
	display: block;
	width: 208px;
	height: 16px;
	position: relative;
	margin: 0 auto;
	padding-left: 45px;
	background: url(./../img/icon.png) no-repeat 74px -416px;
}
#serviceBox .shop .hand{
	width: 30px;
	height: 16px;
	position: absolute;
	top: 1px;
	overflow: hidden;
	background: url(./../img/icon.png) no-repeat  -173px -356px;
}
#serviceBox .service .sloge{
	width: 1000px;
	margin: 0 auto;
	padding-top:42px;
	overflow: hidden;
}
#serviceBox .service .sloge dl{
	float: left;
	height: 60px;
	text-align: left;
}
#serviceBox .service .sloge dl dt{
	width: 58px;
	height: 62px;
}
#serviceBox .service .sloge .pic1{
	float: left;
	background: url(../img/icon.png) no-repeat  2px -356px;
}
#serviceBox .service .sloge .pic2{
	float: left;
	background: url(../img/icon.png) no-repeat  -148px -218px;
}
#serviceBox .service .sloge .pic3{
	float: left;
	background: url(../img/icon.png) no-repeat  -56px -356px;
}
#serviceBox .service .sloge .pic4{
	float: left;
	background: url(../img/icon.png) no-repeat  -114px -356px;
}
#serviceBox .service .sloge dl dd{
	width: 174px;
	padding: 10px 0 0 16px;
	letter-spacing: 1.2px;
	word-break: break-all;
	word-wrap: break-word;
	font-size: 12px;
	float: left;
}
#serviceBox .service .sloge .ch{
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	overflow: hidden;
	color: #737373;
}
#serviceBox .service .sloge .phone{
	width: 117px;
	background: url(../img/icon.png) no-repeat  0px -434px;
}
#serviceBox .service .sloge .en{
	line-height: 22px;
	color: #ccc;
}

/*---------------------------------------底部公司介绍---------------------*/
#footbox{
	width: 100%;
	background: #25292e;
}
#footer{
	width: 1000px;
	margin: 0 auto;
	height: 222px;
}
#footer a{
	color: #5c5c5c;
}
#footer .footLeft{
	width: 800px;
	padding-top: 40px;
	float: left;
}
#footer .footLeft .down{
	display: block;
	width: 196px;
	height: 44px;
}
#footer .footLeft .download{
	width: 136px;
	height: 44px;
	padding-left: 60px;
	font-size: 14px;
	position: relative;
	background: url(../img/icon.png) no-repeat -174px 0px;
}
#footer .footLeft .download .iphone{
	line-height: 18px;
	font-size: 14px;
	letter-spacing: 2px;
}
#footer .footLeft .download .clientdown{
	margin-top: 7px;
	font-size: 14px;
	letter-spacing: 2px;
}
#footer .footLeft .download p:hover{ /*------------- 鼠标经过变色----------------*/
	color:#999;
}

/*-------------------------------客户端二维码------------------------*/
#footer .footLeft .downcode{
	width: 260px;
	height: 187px;
	position: absolute;
	top:-187px;left:0px;
	display: none;
}
#footer .footLeft .downcode dl{
	float: left;
	background: white;
}
#footer .footLeft .downcode dt{
	width: 98px;
	height: 95px;
}
#footer .footLeft .downcode dd{
	width: 98px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	letter-spacing: 0;font-size: 12px;
	color: #4d4d4d;
}
#footer .footLeft .downcode .Anrma{
	padding-left: 20px;
}
#footer .footLeft .iphma dt{
	padding-right: 20px;
	border-right: 1px solid #d9d9d9;
	background: url(../img/icon.png) no-repeat -100px -47px;
}
#footer .footLeft .Anrma dt{
	background: url(../img/icon.png) no-repeat 0px -47px;
}

/*-------------------------------公司地址--------------------------*/
#footer .footLeft .about{
	font-size: 12px;
	letter-spacing: 3px;
	margin-top:30px ;
	height: 14px;
	margin-bottom: 8px;
}
#footer .footLeft .about li{
	float: left;
}
#footer .footLeft .about li a{
	display:block;
	height: 14px;
	padding: 0 8px 0 10px;
	border-left: 1px solid #5c5c5c;
}
#footer .footLeft .about .liFirst{
	border-left: none;
}
#footer .footLeft p{
	font-size: 12px;
	color: #5c5c5c;
	letter-spacing: 3px;
}
#footer .footLeft .about li a:hover{   /*-------------------- 鼠标经过变色----------------------*/
	color:#bfbfbf;
}

/*------------------------------微信登录方式(右半部分)----------------------*/
#footer .footRight{
	width: 152px;
	height: 30px;
	padding-top: 45px;
	float: right;
}
#footer .footRight ul li a{
	display: block;
	height: 20px;
	float: left;
	margin-left: 28px;
	position: relative;
	opacity: 0.2;
}
#footer .footRight ul .wechart{
	width: 26px;
	background: url(../img/icon.png) no-repeat  -100px -23px;
}
#footer .footRight ul .wechart_code{
	width: 145px;
	height: 145px;
	background: url(../img/icon.png) no-repeat  0px -146px;
	position: absolute;top: -190px;left: -60px;overflow: hidden;
	display: none;
}
#footer .footRight ul .sina{
	width: 23px;
	background: url(../img/icon.png) no-repeat  -150px -23px;
}
#footer .footRight ul .douban{
	width: 18px;
	background: url(../img/icon.png) no-repeat  -130px -23px;
}
#footer .footRight ul li a:hover{   /*---- 鼠标经过变色---------------*/
	opacity: 1;
}
