/*--------------------------轮播图----------------------------*/
#contentbox{
	width: 100%;
	height: 100%;
	background: white;
}
#slideshow{
	width: 1000px;
	height: 475px;
	margin: 0 auto;
	position: relative;
	margin-top:28px ;
	overflow: hidden;
}
#slideshow ul{
	position: absolute;
	top: 0;
	left: 0;
}
#slideshow ul li {
	width: 1000px;
	height: 475px; 
	float: left;
}
#slideshow ul li img{
	display: block;
}
/*-------------------------翻页按钮和小方点----------------------*/
#bigPages {
	height:18px; 
	width:1000px;
	margin: 0 auto;
	padding: 7px 0;
	text-align: center;
}
#bigPages div{
	width: 20px;
	height: 4px;
	background: #CACBCB;
	font-size: 0;
	display: inline-block;
	margin: 0 3px;
}
#bigPages div.current {
	background: red;
}
#bigPrev, #bigNext {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 0.8;
	cursor: pointer;
	position: absolute;
	top:0;
	bottom: 0;
	margin:auto;
	display: none;
}

#bigPrev{
	background: #878787 url(../img/dl.png) no-repeat top left;
	left: 20px;
}
#bigNext {
	right:20px;
	background: #878787 url(../img/dr.png) no-repeat  top left;
}


/*--------------------------商品详情----------------------------*/
#content{
	width:1000px;
	height: auto;
	overflow:hidden;
	padding:20px;
	margin: 0 auto;
}
#content h3{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px;
}
#content .goods{
	width: 282px;
	height: 230px;
	background: red;
	float: left;
	margin:0 20px 20px 0;
	box-shadow: 0 0 4px 1px #CCCCCC;
	position: relative;
}
/*-------------商品蒙板-------------*/
#content .goods .goodsCover{
	width: 282px;
	height: 230px;
	position:absolute;
	top:0;
	left: 0;
	display: none;
    background: rgba(0,0,0,0.5)
}
#content .goods .goodsOver{
	color: white;
	position: absolute;
	top:100px;
	left: 100px;
	font-size: 12px;
	display: none;
}
#content .goods .title_goods{
	width: 282px;
	height: 50px;
	background: white;
	font-size: 12px;
	position: absolute;
	bottom: 0;
}
#content .goods .divImg{
	width: 282px;
	height: 180px;
	overflow: hidden;
	position: relative;
}
/*#content .goods .divImg:hover .goodsCover{
	display: block;
}
#content .goods .divImg:hover .goodsOver{
	display: block;
}*/


#content .goods .divImg img{
	width: 282px;
	height: 180px;
}
/*#content .goods .divImg img:hover {
	animation: mymove 2s;
}*/
@keyframes mymove{
	from{transform: scale(1);}
	to{transform: scale(1.1);}
}
#content .goods:hover .goodsCover,#content .goods:hover .goodsOver{
	display: block;
}
#content .goods:hover .divImg img{
	animation: mymove 2s;
}
#content .goods .title_goods .one{
	width: 180px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	padding: 18px 0 0 10px;
} 
#content .goods .title_goods .two{
	float: right;
	color:#DB2726 ;
	padding: 14px 10px 0 0;
} 
#content .goods .title_goods .two span{
	font-size: 16px;
}
#content .leftbox{
	float: left;
	width: 604px;
}
/*---------------------小轮播图--------------------*/
#content .slunbobox{
	width: 282px;
	height: 480px;
	float: left;
	margin-right: 20px;
}
#content #scroll{
	position: relative;
}
#content .slunbobox li{
	width: 282px;
	height: 480px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
#content #scroll img{
	width: 282px;
	height: 480px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
#pages{
	height:12px;
	width:282px;
	position: absolute; 
	bottom: 20px;
	left: 100px;
}
#pages div{
	width: 12px;
	height: 12px;
	background: white;
	float:left;
	margin:5px; 
	border-radius: 6px;
}
#pages div.current{
	background: red;
}
#prev, #next {
	width: 25px;
	height: 40px;
	position: absolute;
	top:0;
	bottom: 0;
	margin:auto;
	cursor: default;
	display: none;
}
#prev{
	background: url(../img/left.png) no-repeat center center;
}
#next {
	right:0;
	background: url(../img/right.png) no-repeat center center;
}

#content .bottombox{
	width: 100%;
	height: auto;
	overflow: hidden;
	float: left;
}
#content .goodsmore{
	display:block;
	clear:both;
	margin-right: 114px;
	font-size: 12px;
	color: black;
	padding-right: 8px;
	text-align: right;
	background: url(../img/gm.gif) no-repeat center right;
}
#content .goodsmore:hover{
	color: #db2726;
}

/*--------------------------大图------------------------------*/
#content .slunbobox .silo{
	height: 480px;
	position: relative;
	text-align: center;
}
#content .slunbobox .wmsilo{
	background: url(../img/home.jpg) no-repeat 0 0;
}
#content .slunbobox .mensilo{
	background: url(../img/home.jpg) no-repeat -330px 0;
}
#content .slunbobox .makesilo{
	background: url(../img/home.jpg) no-repeat -650px 0;
}
#content .slunbobox .homesilo{
	background: url(../img/home.jpg) no-repeat -962px 0;
}
#content .slunbobox .babysilo{
	background: url(../img/home.jpg) no-repeat -1296px 0;
}
#content .slunbobox .abroadsilo{
	background: url(../img/home.jpg) no-repeat -1602px 0;
}

#content .slunbobox .silobox{
	width: 282px;
	position: absolute;
	left: 0;
	top: 266px;
}
#content .slunbobox .silobox h4{
	height: 74px;
}
#content .slunbobox .silobox .icon1{
	background: url(../img/silo_title.png) no-repeat top center;
}
#content .slunbobox .silobox .icon2{
	background: url(../img/silo_title.png) no-repeat 16px -75px;
}
#content .slunbobox .silobox .icon3{
	background: url(../img/silo_title.png) no-repeat 18px -150px;
}
#content .slunbobox .silobox .icon4{
	background: url(../img/silo_title.png) no-repeat 18px -188px;
}
#content .slunbobox .silobox .icon5{
	background: url(../img/silo_title.png) no-repeat 18px -262px;
}
#content .slunbobox .silobox .icon6{
	background: url(../img/silo_title.png) no-repeat 18px -336px;
}
#content .slunbobox .catBox{
	width: 200px;
	border-color: #fff;
	padding: 6px 0;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	line-height: 20px;
	margin: 8px auto 0;
}
#content .slunbobox .catBox .siloCat{
	padding: 4px 20px 7px;
}
#content .slunbobox .catBox .siloCat a{
	color: #666;
	display: inline-block;
	padding: 0 3px;
	font-size: 14px;
}
#content .slunbobox .catBox a:hover{
	color: white;
}
#content .slunbobox .catBox .view_more{
	display: inline-block;
	padding: 0 12px 0 0;
	color:#666;
	font-size: 12px;
}


/*--------------------------今日上新----------------------------*/
#content .newpro{
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
}

/*------------------热卖品牌，女式，男士----------------------------*/
.hotpro,.women,.men,.make,.home,.baby,.abroad,.active{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 20px;
}

/*------------------明日上新----------------------------*/
.activeTime{
	width: 100%;
	height: 25px;
	overflow: hidden;
	font-size: 14px;
	position: relative;
}
.activeTime .div1{
	float: left;
	height: 16px;
	line-height: 16px;
	border-left: 1px solid #000;
	float: left;
}
.activeTime .div1 span{
	display: block;
	height: 16px;
	float: left;
	width: 89px;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #000;
	color: black;
}
.activeTime .slider{
	width: 90px;
	height: 4px;
	overflow: hidden;
	background: #000;
	position: absolute;
	bottom: 0;
	left: 0;
}
.activeTime .div2{
	width: 100px;
	height: 26px;
	float: right;
	margin-right: 98px;
}
.activeTime .div2 span{
	font-size: 20px;
	color: #DB2726;
	font-family: Constantic;
	position: relative;
	bottom: 0;
}
.activeContent{
	width: 100%;
	height: auto;
	padding-top: 5px;
}
.activeContent .theActive{
	width: 280px;
	height: 88px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border:1px solid #e7e7e7;
	position: relative;
	background: #f2f2f2;
}
.activeContent .theActive p span{
	font-size: 18px;
}
.activeContent .theActive .activeCover{
	width: 280px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.7;
	z-index: 1;
	background: gray;
	display: none;
}
.activeContent .theActive .coverBtn a{
	display: block;
	width: 120px;
	height: 30px;
	overflow: hidden;
	position: absolute;
	left:50%;
	top:30px;
	font-size: 16px;
	margin-left: -60px;
	line-height: 30px;
	text-align: center;
	background: #DB2726;
	z-index: 2;
	color: #FFFFFF;
	display: none;
}
.activeContent .theActive .activeImg{
	width: 134px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
}
.activeContent .theActive .activeImg img{
	width: 100%;
	vertical-align: middle;
}
.activeContent .theActive .activeExplain{
	width: 146px;
	height: 88px;
	overflow: hidden;
	float: right;
	text-align: left;
	position: relative;
	font-size: 12px;
}
.activeContent .theActive .activeExplain p{
	margin: 10px 0 0 10px;
}
.activeContent .theActive .activeExplain .exIntro{
	max-height: 32px;
	overflow: hidden;
}
.activeContent .theActive .activeExplain .red{
	color:#DB2726;
}

/*--------------------------打折-----------------------------*/
#content .sale{
	width: 890px;
	height: 296px;
}
#content .sale .shoufengqinBox{
	width: 890px;
	height: 264px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 5px #000;
}
#content .shoufengqinBox li{
	width: 140px;
	height: 262px;
	float: left;
	border-left: 1px solid #888;
	box-shadow: 0 0 25px #000;
	transition: all 0.5s;
}
#content .shoufengqinBox ul:hover li{
	width: 40px;
}
#content .shoufengqinBox ul li:hover{
	width: 420px;
}
/*#content .sale img{
	border: 4px solid black;
}
#content .sale .im1{
	position: absolute;
	left:0;
	top:0;
}
#content .sale .im2{
	position: absolute;
	left:98px;
	top:0;
}
#content .sale .im3{
	position: absolute;
	left:196px;
	top:0;
}
#content .sale .im4{
	position: absolute;
	left:294px;
	top:0;
}
#content .sale .im5{
	position: absolute;
	left:390px;
	top:0;
}
#content .sale .im6{
	position: absolute;
	left:488px;
	top:0;
}*/
#content .sale .sfq img{
	width: 420px;
	height: 262px;
	display: block;
}
/*-------------------------楼层导航----------------------------------*/
#menu{
	width: auto;
	position: fixed;
	right: 4px;
	bottom: 100px;
	display: none;
	color: white;
}
#menu li{
	width: 30px;
	text-align: center;
	cursor: pointer;
	position: relative;
	font-size: 10px;
	background: #666;
	padding:16px 5px;
}
#menu li:hover{
	background:#DB2726;
}
#menu li span{
	display: none;
	width: 30px;
	padding:10px 5px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	background: #DB2726;
}