<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/public.css">
		
	</head>
	<body>
		<!----------------------------头部-------------------------------------------->
		<div id="topbox"></div>
		
		<!----------------------------内容-------------------------------------------->
		<div id="contentbox">
			<!------------------------轮播图------------------------------------------>
			<div id="slideshow">
				<ul>
					<li><a href="bannerIntro.html"><img src="../img/01.jpg"></li></a>
					<li><a href="bannerIntro.html"><img src="../img/02.jpg"></li></a>
					<li><a href="bannerIntro.html"><img src="../img/03.jpg"></li></a>
					<li><a href="bannerIntro.html"><img src="../img/04.jpg"></li></a>
					<li><a href="bannerIntro.html"><img src="../img/05.jpg"></li></a>
					<li><a href="bannerIntro.html"><img src="../img/06.jpg"></li></a>
					<li><a href="bannerIntro.html"><img src="../img/07.jpg"></li></a>
				</ul>
				<div id="bigPrev"></div>
				<div id="bigNext"></div>
			</div>
			<div id="bigPages"></div>
			
			<!-----------------------商品展示------------------------------------->
			<div id="content">
				<!--------------------今日新品----------------------------------->
				<div class="newpro floor">
					<h3>[&nbsp;&nbsp;<span>今日新品</span>&nbsp;&nbsp;]</h3>
					<div class="leftbox">
						<!-------------左半部分模板-------------------------------->
						<script type="text/html" id="item">
						<% for(var i = 0,len = products.length;i < len;i++){
							var prod = products[i];
						%>	
							
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[0] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[0] %></span></p>
								<p class="two"><span><%= prod.two[0] %></span>折起</p>
							</div>
							<div class="goodsCover">
								<a href="list.html" class="goodsOver">7天后活动结束</a>
							</div>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[1] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[1] %></span></p>
								<p class="two"><span><%= prod.two[1] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[2] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[2] %></span></p>
								<p class="two"><span><%= prod.two[2] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[3] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[3] %></span></p>
								<p class="two"><span><%= prod.two[3] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<% } %>
						
					</script>
						
					</div>
					<!---------------------小轮播图--------------------------->
					<div class="slunbobox" id="scroll">
						<ul>
							<li style="display: block"><img src="../img/sc1.jpg"></li>
							<li><img src="../img/sc2.jpg"></li>
							<li><img src="../img/sc3.jpg"></li>
							<li><img src="../img/sc4.jpg"></li>
						</ul>
						<div id="pages"></div>
						<div id="prev"></div>
						<div id="next"></div>
					</div>
					<div class="bottombox">
						<!-------------下半部分模板-------------------------------->
						<script type="text/html" id="item">
						<% for(var i = 0,len = products.length;i < len;i++){
							var prod = products[i];
						%>	
							
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[0] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[0] %></span></p>
								<p class="two"><span><%= prod.two[0] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[1] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[1] %></span></p>
								<p class="two"><span><%= prod.two[1] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[2] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[2] %></span></p>
								<p class="two"><span><%= prod.two[2] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[3] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[3] %></span></p>
								<p class="two"><span><%= prod.two[3] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[4] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[4] %></span></p>
								<p class="two"><span><%= prod.two[4] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[5] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[5] %></span></p>
								<p class="two"><span><%= prod.two[5] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[6] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[6] %></span></p>
								<p class="two"><span><%= prod.two[6] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[7] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[7] %></span></p>
								<p class="two"><span><%= prod.two[7] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[8] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[8] %></span></p>
								<p class="two"><span><%= prod.two[8] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[9] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[9] %></span></p>
								<p class="two"><span><%= prod.two[9] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[10] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[10] %></span></p>
								<p class="two"><span><%= prod.two[10] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[11] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[11] %></span></p>
								<p class="two"><span><%= prod.two[11] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<div class="goods">				
							<div class="divImg">
								<img src="<%= prod.url[12] %>">
							</div>
							<div class="title_goods">
								<p class="one"><span><%= prod.one[12] %></span></p>
								<p class="two"><span><%= prod.two[12] %></span>折起</p>
							</div>
							<div class="goodsCover"></div>
							<a href="list.html" class="goodsOver">7天后活动结束</a>
						</div>
						<% } %>
						
					</script>
						
					</div>
				</div>
				
				<!--------------------热卖品牌----------------------------------->
				<div class="hotpro floor">
					<h3>[&nbsp;&nbsp;<span>热卖品牌</span>&nbsp;&nbsp;]</h3>
					<!--<div class="goods">
						<img>
						<p class="title_goods"></p>
					</div>
					<div class="goods">
						<img>
						<p class="title_goods"></p>
					</div>
					<div class="goods">
						<img>
						<p class="title_goods"></p>
					</div>
					<div class="goods">
						<img>
						<p class="title_goods"></p>
					</div>
					<div class="goods">
						<img>
						<p class="title_goods"></p>
					</div>
					<div class="goods">
						<img>
						<p class="title_goods"></p>
					</div>
					<div class="goods">
						<img>
						<p class="title_goods"></p>
					</div>
					<div class="goods">
						<img>
						<p class="title_goods"></p>
					</div>
					<div class="goods">
						<img>
						<p class="title_goods"></p>
					</div>-->
				</div>
			
				<!--------------------女式活动----------------------------------->
				<div class="women floor">
					<h3>[&nbsp;&nbsp;<span>女式活动</span>&nbsp;&nbsp;]</h3>
					<div class="slunbobox">
						<div class="silo wmsilo">
							<div class="silobox">
								<h4 class="icon1"></h4>
								<div class="catBox">
									<div class="siloCat">
										<a href="">服装</a>
										<a href="">鞋履</a>
										<a href="">包袋</a>
										<a href="">手表&首饰</a>
										<a href="">配饰</a>
										<a href="">眼镜</a>
									</div>
								<a href="" class="view_more">查看更多  ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="leftbox">
					</div>
					<div class="bottombox">
					</div>
					<a href=""class="goodsmore">查看更多</a>
				</div>
				
				<!--------------------男式活动----------------------------------->
				<div class="men floor">
					<h3>[&nbsp;&nbsp;<span>男式活动</span>&nbsp;&nbsp;]</h3>
					<div class="slunbobox">
						<div class="silo mensilo">
							<div class="silobox">
								<h4 class="icon2"></h4>
								<div class="catBox">
									<div class="siloCat">
										<a href="">包袋钱包</a>
										<a href="">服装</a>
										<a href="">鞋履</a>
										<a href="">配饰</a>
										<a href="">眼镜</a>
									</div>
								<a href="" class="view_more">查看更多  ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="leftbox">
					</div>
					<div class="bottombox">
					</div>
					<a href="list.html" class="goodsmore">查看更多</a>
				</div>
				
				<!--------------------美妆活动----------------------------------->
				<div class="make floor">
					<h3>[&nbsp;&nbsp;<span>美妆活动</span>&nbsp;&nbsp;]</h3>
					<div class="slunbobox">
						<div class="silo makesilo">
							<div class="silobox">
								<h4 class="icon3"></h4>
								<div class="catBox">
									<div class="siloCat">
										<a href="">护肤</a>
										<a href="">彩妆</a>
										<a href="">香氛</a>
										<a href="">美体</a>
										<a href="">男士</a>
										<a href="">保健</a>
										<a href="">面膜</a>
										<a href="">美容仪</a>
										<a href="">美发</a>
									</div>
								<a href="" class="view_more">查看更多  ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="leftbox">
					</div>
					<div class="bottombox">
					</div>
					<a href="list.html" class="goodsmore">查看更多</a>
				</div>
				
				<!--------------------家居活动----------------------------------->
				<div class="home floor">
					<h3>[&nbsp;&nbsp;<span>家居活动</span>&nbsp;&nbsp;]</h3>
					<div class="slunbobox">
						<div class="silo homesilo">
							<div class="silobox">
								<h4 class="icon4"></h4>
								<div class="catBox">
									<div class="siloCat">
										<a href="">床品</a>
										<a href="">卫浴</a>
										<a href="">厨具</a>
										<a href="">摆件</a>
										<a href="">食品</a>
										<a href="">家电</a>
										<a href="">旅游</a>
										<a href="">3C数码产品</a>
									</div>
								<a href="" class="view_more">查看更多  ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="leftbox">
					</div>
					<a href="list.html" class="goodsmore">查看更多</a>
				</div>
				
				<!--------------------婴童活动----------------------------------->
				<div class="baby floor">
					<h3>[&nbsp;&nbsp;<span>婴童活动</span>&nbsp;&nbsp;]</h3>
					<div class="slunbobox">
						<div class="silo babysilo">
							<div class="silobox">
								<h4 class="icon5"></h4>
								<div class="catBox">
									<div class="siloCat">
										<a href="">服装</a>
										<a href="">玩具</a>
										<a href="">母婴</a>
										<a href="">配饰</a>
									</div>
								<a href="" class="view_more">查看更多  ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="leftbox">
					</div>
					<a href="list.html" class="goodsmore">查看更多</a>
				</div>
				
				<!--------------------海外活动----------------------------------->
				<div class="abroad floor">
					<h3>[&nbsp;&nbsp;<span>海外活动</span>&nbsp;&nbsp;]</h3>
					<div class="slunbobox">
						<div class="silo abroadsilo">
							<div class="silobox">
								<h4 class="icon6"></h4>
							</div>
						</div>
					</div>
					<div class="leftbox">
					</div>
					<a href="list.html" class="goodsmore">查看更多</a>
				</div>
				
				<!--------------------活动即将开始----------------------------------->
				<div class="active floor">
					<h3>[&nbsp;&nbsp;<span>活动即将开始</span>&nbsp;&nbsp;]</h3>
					<div class="activeTime">
						<div class="div1">
							<span class="actWeek">今天</span>
							<span class="actWeek">明天</span>
							<span class="actWeek">周五</span>
							<span class="actWeek">周六</span>
							<span class="actWeek">周日</span>
						</div>
						<div class="slider"></div>
						<div class="div2">早上<span>9</span>点上新</div>
					</div>
					<div class="activeContent">
						<!------------模板---------------------->
						<script type="text/html" id="report">
							<%for(var i = 0;i < products.length;i++){ 
								var prod = products[i];
							%>
							<div class="theActive">
								<div class="activeCover"></div>
								<div class="coverBtn"><a href="list.html">预览</a></div>
								<div class="activeImg">
									<img src="<%= prod.url %>">
								</div>
								<div class="activeExplain">
									<p class="exIntro"><%= prod.title %></p>
									<p class="red"><span><%= prod.sale %></span>折起</p>
								</div>
							</div>
								
							<% } %>
						</script>
						
					</div>
				</div>
				
				<!--------------打折广告---------------------------------->
				<div class="sale floor">
					<h3>[&nbsp;&nbsp;<span>热卖打折</span>&nbsp;&nbsp;]</h3>
					<div class="shoufengqinBox">
						<ul>
							<li class="sfq im1"><a href=""><img src="../img/a1.jpg"></a></li>
							<li class="sfq im2"><a href=""><img src="../img/a2.jpg"></a></li>
							<li class="sfq im3"><a href=""><img src="../img/1.jpg"></a></li>
							<li class="sfq im4"><a href=""><img src="../img/2.jpg"></a></li>
							<li class="sfq im5"><a href=""><img src="../img/a4.jpg"></a></li>
							<li class="sfq im6"><a href=""><img src="../img/a5.jpg"></a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		<!---------------尾部-------------------->
		<div id="bottombox"></div>
		<!----------------------------------------点击购物车弹出蒙板和登录-------------->
		<div id="cover"></div>
		
		<!-------------------------楼层导航--------------------------------->
		<ul id="menu">
			<li>1L<span style="display: block;">今日上新</span></li>
			<li>2L<span>热卖品牌</span></li>
			<li>3L<span>女式活动</span></li>
			<li>4L<span>男式活动</span></li>
			<li>5L<span>美妆活动</span></li>
			<li>6L<span>家居活动</span></li>
			<li>7L<span>婴童活动</span></li>
			<li>8L<span>海外活动</span></li>
			<li>9L<span>即将开始</span></li>
			<li>10L<span>打折活动</span></li>
			<li>顶部</li>
		</ul>
		
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/jquery.cookie.js"></script>
		<script type="text/javascript" src="../js/template-native.js"></script>
		<script type="text/javascript" src="../js/index.js"></script>
		
		<script type="text/javascript">
		//加载楼层数据
		$.getJSON('../json/products.json',function(responseData) {
				var data = {
					products : responseData
				};
				var html=template("item", data);
				$(".leftbox").append(html);
				$(".bottombox").append(html);
				
			});
		//加载活动预告数据
		$.getJSON('../json/active.json',function(responseData){
			var data = {
				products : responseData
			};
			var html = template("report",data);
			$(".activeContent").append(html);
		});
		</script>
	</body>
</html>
