<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/list.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/public.css">
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/jquery.cookie.js"></script>
		<script type="text/javascript" src="../js/template-native.js"></script>
		<script type="text/javascript" src="../js/list.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!----------------------------头部-------------------------------------------->
		<div id="topbox"></div>
		
		<!-----------------------------商品导航--------------------------------------->
		<div id="indexbox">
			<div class="index">
				<a href="">良仓</a>>
				<a href="">商店</a>>
				<a href="">所有商品</a>>
				<a href="">女装</a>>
				连衣裙
			</div>
		</div>
		
		
			
		<!----------------------------商品列表--------------------------------------->
		<div id="contentbox">
			<!-----------------------商品展示------------------------------------->
			<div class="products">
				<div class="item first">
					<div class="img">
						<a href=""><img src="../img/c1.jpg"></a>
						<div class="cover"></div>
					</div>
					<a href="" class="intro">
						<p class="money">￥80.00</p>
						<p class="tle">经典车纸模型 | Play!系列 捷豹E-Tipe型号</p>
						<p class="desc">"简约却不失独特，典雅的生活尽在独特的细节"有一种艺术叫做</p>
					</a>
					<div class="bar">
						<a href="" class="who"><img src="../img/i1.jpg">B&O</a>
						<a href="" class="peach"></a>
					</div>
				</div>
				<div class="item">
					<div class="img">
						<a href=""><img src="../img/c2.jpg"></a>
						<div class="intro"></div>
					</div>
					<div class="bar">
						<a href="" class="who"><img src="../img/i1.jpg">B&O</a>
						<a href="" class="peach"></a>
					</div>
				</div>
				<div class="item">
					<div class="img">
						<a href=""><img src="../img/c3.jpg"></a>
						<div class="intro"></div>
					</div>
					<div class="bar">
						<a href="" class="who"><img src="../img/i1.jpg">B&O</a>
						<a href="" class="peach"></a>
					</div>
				</div>
			</div>
			
			<!---------------------------翻页------------------------------->
			<div class="pager">
				<div class="turn_page">
					<a href="" class="page_prev">上一页</a>
					<a href="">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<a href="">6</a>
					<a href="" class="page_next">下一页</a>
					   |    跳转到
					<input class="goPage" value="1">  页
					<button>确认</button>
				</div>
			</div>
		</div>
		
		<!-------------------------------底部------------------------------>
		<div id="bottombox"></div>
		
			
		<!------------模板-------------------------->
		<script type="text/html" id="list">
		<%for(var i = 0;i < products.length;i++){ 
			var prod = products[i];
		%>
			<div class="item">
				<div class="img">
					<a href=""><img src="<%= prod.url %>"></a>
					<div class="cover"></div>
				</div>
				<a href="" class="intro">
					<p class="money">￥<%= prod.price %></p>
					<p class="tle"><%= prod.title %></p>
					<p class="desc"><%= prod.intro %></p>
				</a>
				<div class="bar">
					<a href="" class="who"><img src="<%= prod.logo %>"><%= prod.brand %></a>
					<a href="" class="peach"></a>
				</div>
			</div>
		<% } %>
		</script>
		
		<!------------商品数据---------------------->
		<script type="text/javascript">
			$.getJSON("../json/list.json",function(responseData){
				var data = {
					products : responseData
				}
				var html = template("list",data);
				$(".products").append(html)
			});
		</script>
		
		
	</body>
</html>
