<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/list.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/public.css">
		
	</head>
	<body>
		<!----------------------------头部-------------------------------------------->
		<div id="topbox"></div>
		
		<!-----------------------------商品导航--------------------------------------->
		<div id="indexbox">
			<div class="index">
				<a href="index.html">良仓</a>>
				<a href="index.html">商店</a>>
				<a href="">所有商品</a>>
				<a href="">女装</a>>
				连衣裙
			</div>
		</div>
		
		
			
		<!----------------------------商品列表--------------------------------------->
		<div id="contentbox">
			<!-----------------------商品展示------------------------------------->
			<div class="products"></div>
			
			<!---------------------------翻页------------------------------->
			<div class="pager">
				<div class="turn_page">
					<a href="" class="page_prev">上一页</a>
					<a href="">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<a href="">6</a>
					<a href="" class="page_next">下一页</a>
					   |    跳转到
					<input class="goPage" value="1">  页
					<button>确认</button>
				</div>
			</div>
		</div>
		
		<!-------------------------------底部------------------------------>
		<div id="bottombox"></div>
		
			
		<!------------模板-------------------------->
		<script type="text/html" id="list">
			<%for(var i = 0;i < products.length;i++){ 
				var prod = products[i];
			%>
				<div class="item first">
				<div class="img">
					<a href="#"><img src="<%= prod.url %>" class="move"></a>
					<div class="cover"></div>
				</div>
				<a href="detail.html" class="intro">
					<p class="money">￥<%= prod.price %></p>
					<p class="tle"><%= prod.title %></p>
					<p class="desc"><%= prod.intro %></p>
				</a>
				<div class="bar">
					<a href="javascript:void(0)" class="who"><img src="<%= prod.logo %>"><%= prod.brand %></a>
					<a href="javascript:void(0)" class="peach"></a>
				</div>
			</div>
			<% } %>
		</script>
		
		
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/jquery.cookie.js"></script>
		<script type="text/javascript" src="../js/template-native.js"></script>
		
		<script type="text/javascript">
			$(function(){
				//引入头部
				$("#topbox").load("../html/include/header.html");
				//引入尾部
				$("#bottombox").load("../html/include/footer.html");
			});
			
			<!------------商品数据---------------------->
			$.getJSON("../json/list.json",function(responseData){
				var data = {
					products : responseData
				}
				var html = template("list",data);    
				$(".products").append(html)
			});
		</script>
		
	</body>
</html>
